* {
  font-family: 'Roboto', sans-serif;
  

}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: rgb(4, 15, 24);
}

h1 {
  text-align: center;
  -webkit-text-stroke: 1.2px rgb(4, 15, 24);
  color:aliceblue;
  display: flex;
  padding-top: 20px;
  padding-left: 20%;
  border-color: 1px solid aliceblue;
  letter-spacing: 3px;
  font-family: 'Pacifico', cursive;
}

header {
  position: absolute;
  display: flex;
  width: 100%;
  min-height: 10vh;
  align-items: flex-start;
  background-color: #04AA6D;
  top:-20px;
  background: linear-gradient(rgb(4, 15, 24));
  font-size: larger;
  
}

.bookcard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  max-width: 1000;
  
  margin: 2rem;
}

.book {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color:rgb(1, 19, 34); ;
  color: aliceblue;
  border-radius: 35px;
  border: 1px solid #04AA6D;
  margin: 5px;
  padding: 15px 15px;
  

}

.delete {
  color: aliceblue;
  background-color:rgb(1, 19, 34); ;
  border: none;
  cursor: pointer;
  
}

/* Button used to open the contact*/
.open-button {
  text-align: center;
  background-color: #04AA6D;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  height:100px;
  border-radius: 50px;
  position: fixed;
  bottom: 0;
  right: 45;
  font-weight: 900;
  font-size: 35px;
}



/* The popup form - hidden by default */
.form-popup {
  display: none;
  text-align: left;
  align-items: center;
  justify-content: center;
}

/* Add styles to the form container */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  padding: 20px;
  background-color: rgb(1, 19, 34);
  color: #04AA6D;  
  border-radius: 35px;
  border: 1px solid #04AA6D;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text] .form-container input[type=checkbox]{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  align-items: center;
}

.status {
  display: block;
  padding: 15px;
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=]:focus {
  background-color: 1px solid #04AA6D;
}


/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 45px;
}

/* Add a background color to the cancel button */
.form-container .cancel {
  background-color: rgb(4, 24, 41);
  
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}